html{
	min-height: 1000px
}
body{
    /* since the navbar is fixed to the top of the body,
    and is 50px tall, we need that much padding so that
    the content doesn't start under the navbar*/
    padding-top: 10px;
}

#bg{
	background-image: url('../img/spring.jpg');
	background-size: cover;
	font-weight: 400;
	transition: 2s;
}

#contentPage{
	width:1000px;
	min-height: 1500px;
	background-color: rgba(255,255,255,0.8);
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	padding-bottom: 50px;
	-webkit-box-shadow: 0 0px 10px 1px black;
	-moz-box-shadow: 0 0px 10px 1px black;
	box-shadow: 0 0px 10px 1px black;
	position: relative;
}

.jumbotron {
	background-image: url('../img/husky1.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 0px;
    transition: 0.4s;
    position: relative;
    padding-top: 0px;

}

#profile {
	max-height: 150px;
	float: left;
	margin: 0px 10px 0px 0px;
	background: rgba(0, 0, 0, .9);
	padding: 2px;
	border-radius: 5%;
}

.jumbotron h3{
	color: black;
	font-size: 32px

}

.jumbotron p{
	color: black;
	padding-bottom: 4px;
	font-size: 14px
}

#quote {
	color: gold;
	background: rgba(0, 0, 0, .9);
	padding: 4px;
	font-size: 18px;
	right: 10px

}

.infoContainer {
	background: rgba(255, 255, 255, .8);
	width: 300px;
	height: 292.5px;
	position: absolute;
	top: 0px;
	left: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#timelineContainer {
	background: rgba(0, 0, 0, .5);
	width: 15%;
	min-width: 100px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

.yAxis {
	stroke: gold;
	font-size: 8px
}

.yAxis path,line {
	stroke: gold;
}

#eventContainer{
	/*background: rgba(0, 0, 0, .5);*/
	width: 850px;
	height: 0px;
	position: absolute;
	top: 305px;
	left: 0px;
	color: white;
	padding: 15px;
	padding-top: 0px;
	transition: 0.7s
}

#eventContainer p{
	color: white;
	background-color: rgba(255,255,255,0.2);
	padding: 10px
}

.eventCircles {
	transition: 0.4s;
}

.row {
    margin: 16px 16px;
    padding: 10px;
    padding-top: 0px;
    background-color: rgba(0,0,0,0.1);
}

/*.row,
.row > .column1 {
    padding-top: 0px;
}*/

.column {
    float: left;
    width: 220px;
    background-color: white;
    margin-right: 10px;
    margin-top: 10px
}


#orderarea{
	float: left;
    width: 485px;
    height: 400px;
    background-color: white;
    margin-top:10px;
}

#contactarea{
	float: left;
    width: 485px;
    height: 351.5px;
    background-color: white;
    margin-top: 10px
}

/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 485px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}*/

.scrollable {
	overflow: scroll;
	height: 700px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    background:rgba(0,0,0,0.7);
    margin-bottom: 0px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.5);
}


.imgContainer {
	background: url(../img/projects/D3.png);
	background-position: center;
	background-size: cover;
	display: inline-block;
    width: 100%;
    height: 140px;
    border: 3px solid #FFF;
}

.imgContainer img {
	width: 100%;
	max-height: 100%;
	overflow: hidden;
}

/* Add some padding inside the card container */
.textContainer {
    padding: 2px 16px;
    color: gold;
}

.textContainer p{
	color: white;
	margin-bottom: 10px
}

.bannerPic{
	height: 200px;
	background-image: url('../img/husky1.jpg');
	background-size: cover;
	background-position: center;
	margin: 10px;
}

.picShadow{
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	position: relative;
}

#pageTitle{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	bottom: 20px;
	position: relative;
	color: white;
	vertical-align: middle;
}

.picNav{
	background-color: rgba(255,255,255,0.5);
	height: 190px;
	margin: 10px;
	padding: 10px;
	padding-bottom: 0px; 

}

.picNav .navRow{
	/*background-color: rgba(0,0,0,0.5); */
	height: 40px; 
	margin: 2px;

}

.titleBox{
	height: 100%;
	width: 100px;
	/*background-color: rgba(252,238,132,1);*/
	float: left; 
	margin-right: 3px;
	text-align: left;
	color: white;
	padding-left: 3px;
}

.itemBox{
	height: 40px;
	width: 60px;
	background-color: gold;
	float: left; 
	margin-right: 2px;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.itemBox .picShadow{
	background-color: rgba(0,0,0,0.5);
	transition: 0.3s;
}

.itemBox .picShadow:hover {
	animation: shake 0.3s;
	background-color: rgba(0,0,0,0);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fullView{
	height: 425px;
	margin: 10px;
	/*background-color: rgba(0,0,0,0.5);*/
	transition: all 1s ease;
	padding: 10px;
	/*position: relative;*/
}

.fullViewPic{
	height: 300px;
	width: 55%;
	background-size: cover;
	background-position: center;
	float: left;
	margin-right: 10px;
*/}

.detailsContainer{
	height: 300px;
	width: 421.5px;
	/*background-color: rgba(0,0,0,0.5);*/
	position: relative;
	float: left;

}

.fullViewDesc{
	background-color: rgba(0,0,0,0.7);
	padding: 3px;
	color: white;
	height: 25px;
}

.fullViewDetails{
	font-size: 18px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.fullViewDate{
	font-size: 18px;
	padding: 3px;
	text-align:right;
}

.fullViewLink{
	width: 100%;
	height: 25px;
	bottom: 0px;
	text-align: right;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	color: white;
	cursor: pointer;
}

.fullViewLink a:link, a:visited {
    background-color: rgba(255,255,255,0.2);
    color: white;
    width: 100%;
    height: 100%;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.fullViewLink a:hover, a:active {
    background-color: rgba(0,0,0,0.2);
}








